[dsp-mode="horizontal"] #game-container{
    width: 750px;
    row-gap: 8px;
}

[dsp-mode="horizontal"] .vert-break{
    display: none;
}

[dsp-mode="horizontal"] .number-button{
    height: 70px;
    width: 100px;
    line-height: 70px;
}

[dsp-mode="horizontal"] .number-input{
    width: 435px;
    height: 310px;
}

[dsp-mode="horizontal"] .number-field{
    height: 60px;
}

[dsp-mode="horizontal"] .nfc-input{
    width: 250px;
}

[dsp-mode="horizontal"] .number-button[data-num="0"]{
    order: 6 !important;
}
[dsp-mode="horizontal"] .number-button.bsp{
    order: 3;
}
[dsp-mode="horizontal"] .number-button.acpt{
    order: 10;
}

[dsp-mode="horizontal"] .validation-error {
    max-width: 260px;
    min-width: 180px;
}

[dsp-mode="horizontal"]{
    zoom: 65%;
}