:root{
    --ff: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --bg-color: #fff0d5;
    font-family: var(--ff);
    font-size: 32px;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--bg-color);
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    user-select: none;
    background-color: var(--bg-color);
}

.glyph{
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    margin: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.number-input{
    display: flex;
    flex-direction: row;
    width: 350px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    outline: solid 4px gray;
    padding: 25px;
    border-radius: 20px;
}

.number-field{
    width: calc(100% - 30px);
    height: 70px;
    border: none;
    outline: solid 4px gray;
    border-radius: 20px;
    font-family: var(--ff);
    font-size: 32px;
    pointer-events: none;
}

.number-button{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease-out;
    position: relative;
}

.number-button:hover{
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.number-button::before{
    content: var(--num);
}

.number-button[data-num="0"]{
    order: 11 !important;
}
.number-button.bsp{
    order: 10;
}
.number-button.acpt{
    order: 12;
}


.nfc-input{
    display: flex;
    flex-direction: row;
    width: 350px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    outline: solid 4px gray;
    padding: 25px;
    border-radius: 20px;
}

@keyframes pulse {
    0%{
        opacity: var(--pulse-origin);
    }
    50%{
        opacity: var(--pulse-target);
    }
    100%{
        opacity: var(--pulse-origin);
    }
}

.nfc-img{
    --pulse-target: 0.4;
    --pulse-origin: 0.6;
    filter: brightness(0);
    animation: 2s ease-in-out 0s infinite forwards pulse;
    width: 70%;
}

.nfc-field{
    clip-path: circle(0);
    position: absolute;
}

.nfc-title{
    width: 100%;
    text-align: center;
    margin: 0px;
}

.btn{
    height: 80px;
    line-height: 80px;
    width: fit-content;
    padding: 5px 35px;
    margin: 0px;
    text-align: center;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-out;
}

.btn:hover{
    background-color: rgba(0, 0, 0, 0.25);
    padding: 0px 30px;
    margin: 5px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.vert-break {
    flex-basis: 100%;
    height: 0;
}

.line{
    background-color: rgba(0, 0, 0, 0.25);
    width: 98%;
    height: 2px;
    border-radius: 2px;
}

.hor-al{
    text-align: center;
}

.validation-error{
    color: red;
}

#game-container{
    width: 355px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: fit-content;
}

.list-name{
    text-align: center;
}

.list-name::before{
    content: "•";
}

.name-cross{
    cursor: pointer;
    color: red;
}

.name-enter{
    display: block;
    width: 90%;
    height: 70px;
    border: none;
    outline: solid 2px gray;
    font-family: var(--ff);
    font-size: 32px;
}


.col-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: inherit;
    height: fit-content;
    width: min-content;
}

.w340{
    width: 340px;
}

.fullscreen-toggle{
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 48px;
    fill: gray;
}