<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MP Banking</title>

        <meta name="viewport" content="initial-scale=1, user-scalable=no">

        <link href="/index.css" rel="stylesheet">
        <link href="/horizontal.css" rel="stylesheet">

        <script src="https://dagammla.gitlab.io/fuwu.js/0.8.6/fuwu-pl.min.js"></script>
        <script src="/index.js"></script>
        <script defer src="https://dagammla.gitlab.io/keep-silk-open/keep.js"></script>        
        

        <template id="number-input">
            <div class="number-input">
                <input tabindex="-1" f:value="formatNum(0)" class="number-field" inputmode="none" type="text">
                <f-for from="[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]" as="num" index="i">
                    <div evt:click="clickNumberButton(this)" class="number-button" f:data-num="num" f:style="'--num: \'' + num + '\'; order: ' + num"></div>
                </f-for>
                <div evt:click="clickBackspace(this)" class="number-button bsp">
                    <svg xmlns="http://www.w3.org/2000/svg" class="glyph" viewbox="0 0 48 48"><path d="m22.4 31.7 5.6-5.6 5.6 5.6 2.15-2.15L30.1 24l5.55-5.55-2.15-2.15-5.5 5.6-5.6-5.6-2.15 2.15L25.9 24l-5.65 5.55ZM6 24l8.45-11.95q.65-.9 1.55-1.475.9-.575 2-.575h21q1.25 0 2.125.875T42 13v22q0 1.25-.875 2.125T39 38H18q-1.1 0-2-.575-.9-.575-1.55-1.475Zm3.75 0 7.7 11H39V13H17.45ZM39 24V13v22Z"/></svg>
                </div>
                <div evt:click="clickAccept(this)" class="number-button acpt">
                    <svg xmlns="http://www.w3.org/2000/svg" class="glyph" viewbox="0 0 48 48"><path d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"/></svg>
                </div>
            </div>
        </template>
        <template id="nfc-input">
            <div class="nfc-input">
                <f-if check="typeof nfcTitle !== 'undefined'">
                    <div class="nfc-title"><b>{{nfcTitle}}</b></div>
                </f-if>
                <textarea evt:input="nfcInput(this)" evt:f-add="keepFocus(this)" evt:focusout="keepFocus(this)" inputmode="none" class="nfc-field"></textarea>
                <img class="nfc-img" src="/NFC.svg">
            </div>
        </template>
        <template id="f-toggle">
            <div class="fullscreen-toggle" evt:click="toggleFullscreen()">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 48 48"><path d="M6 42V27h3v9.9L36.9 9H27V6h15v15h-3v-9.9L11.1 39H21v3Z"/></svg>
            </div>
        </template>
    </head>
    <body>
        <f-pl data="gameState, startPage" id="game-container">

            <f-if check="gameState.started">
                <f-var name="page" value="gameState.page"></f-var>
                <f-if check="page == 'home'">
                    <div>Menü</div>
                    <div class="line"></div>
                    <div class="col-flex w340">
                        <div class="btn" evt:click="pageSwitch('bank')">
                            Bank
                        </div>
                        <div class="vert-break"></div>
                        <div class="btn" evt:click="pageSwitch('transfer')">
                            Überweisung
                        </div>
                        <div class="vert-break"></div>
                        <div class="btn" evt:click="pageSwitch('players')">
                            Spieler
                        </div>
                    </div>
                    <div class="col-flex w340">
                        <f-var name="nfcTitle" value="'Kontostand anzeigen'"></f-var>
                        <div evt:nfc-okay="homeNfc($event.detail)">
                            <f-in in-id="nfc-input"></f-in>
                        </div>
                        <div class="break"></div>
                        <f-if check="gameState.balanceText.length > 0">
                            <div><b>{{gameState.balanceText}}</b></div>
                        </f-if>
                    </div>
                    <div class="line"></div>
                    <div class="btn" evt:click="pageSwitch('reset')">
                        Neues Spiel
                    </div>
                    <f-in in-id="f-toggle"></f-in>
                </f-if>
                <f-if check="page == 'players'">
                    <div>Spieler</div>
                    <div class="line"></div>
                    <f-for from="Array.from(gameState.players).sort((p1, p2) => p2.balance - p1.balance)" as="player">
                        <div class="list-name">
                            {{player.name}}: {{formatNum(player.balance)}}
                        </div>
                        <div class="break"></div>
                    </f-for>
                </f-if>
                <f-if check="page == 'bank'">
                    <div>Bank</div>
                    <div class="line"></div>
                    <div class="btn" evt:click="pageSwitch('bank-in-1')">Geld abtreten</div>
                    <div class="break"></div>
                    <div class="btn" evt:click="pageSwitch('bank-out-1')">Geld erhalten</div>
                    <div class="break"></div>
                </f-if>

                <f-if check="page == 'bank-in-1'">
                    <div>Bank - Schuldbetrag</div>
                    <div class="line"></div>
                    <div evt:num-okay="bankInAmount($event.detail)">
                        <f-in in-id="number-input"></f-in>
                    </div>
                </f-if>
                <f-if check="page == 'bank-in-2'">
                    <div>Bank - Abtreten</div>
                    <div class="line"></div>
                    <div>Schuldbetrag: </div>
                    <div>{{formatNum(gameState.transferAmount)}}</div>
                    <div class="break"></div>
                    <div evt:nfc-okay="bankInPlayer($event.detail)">
                        <f-var name="nfcTitle" value="'Einzahlung tätigen'"></f-var>
                        <f-in in-id="nfc-input"></f-in>
                    </div>
                </f-if>

                <f-if check="page == 'bank-out-1'">
                    <div>Bank - Auszahlung</div>
                    <div class="line"></div>
                    <div evt:num-okay="bankOutAmount($event.detail)">
                        <f-in in-id="number-input"></f-in>
                    </div>
                </f-if>
                <f-if check="page == 'bank-out-2'">
                    <div>Bank - Erhalten</div>
                    <div class="line"></div>
                    <div>Auszahlungsbetrag: </div>
                    <div>{{formatNum(gameState.transferAmount)}}</div>
                    <div class="break"></div>
                    <div evt:nfc-okay="bankOutPlayer($event.detail)">
                        <f-var name="nfcTitle" value="'Auszahlung tätigen'"></f-var>
                        <f-in in-id="nfc-input"></f-in>
                    </div>
                </f-if>

                <f-if check="page == 'transfer'">
                    <div>Überweisung</div>
                    <div class="line"></div>
                    <div evt:nfc-okay="transferSender($event.detail)">
                        <f-var name="nfcTitle" value="'Sender bestätigen'"></f-var>
                        <f-in in-id="nfc-input"></f-in>
                    </div>
                </f-if>
                <f-if check="page == 'transfer-1'">
                    <div>Überweisungsbetrag</div>
                    <div class="line"></div>
                    <div class="hor-al">Kontostand von {{gameState.transferPlayer.name}}: {{formatNum(gameState.transferPlayer.balance)}}</div>
                    <div></div>
                    <div evt:num-okay="transferAmount($event.detail)">
                        <f-in in-id="number-input"></f-in>
                    </div>
                </f-if>
                <f-if check="page == 'transfer-2'">
                    <div>Überweisungsempfänger</div>
                    <div class="line"></div>
                    <div class="hor-al">Überweisungsbetrag: {{formatNum(gameState.transferAmount)}}</div>
                    <div class="break"></div>
                    <div evt:nfc-okay="transferAccept($event.detail)">
                        <f-var name="nfcTitle" value="'Empfänger bestätigen'"></f-var>
                        <f-in in-id="nfc-input"></f-in>
                    </div>
                </f-if>
                
                <f-if check="page == 'transfer-success-single'">
                    <div>Quittung</div>
                    <div class="line"></div>
                    <div>Transaktion abgeschlossen</div>
                    <div class="hor-al">Transaktionsbetrag: {{formatNum(gameState.transferAmount)}}</div>
                    <div class="hor-al">Kontostand von {{gameState.transferPlayer.name}}: {{formatNum(gameState.transferPlayer.balance)}}</div>
                    <div class="line"></div>
                </f-if>

                <f-if check="page == 'transfer-success-duo'">
                    <div>Quittung</div>
                    <div class="line"></div>
                    <div>Transaktion abgeschlossen</div>
                    <div class="hor-al">Transaktionsbetrag: {{formatNum(gameState.transferAmount)}}</div>
                    <div class="hor-al">Kontostand von {{gameState.transferPlayer.name}}: {{formatNum(gameState.transferPlayer.balance)}}</div>
                    <div class="hor-al">Kontostand von {{gameState.recipientPlayer.name}}: {{formatNum(gameState.recipientPlayer.balance)}}</div>
                    <div class="line"></div>
                </f-if>

                <f-if check="page == 'reset'">
                    <div>Spiel beenden</div>
                    <div class="line"></div>
                    <div class="hor-al">
                        Möchtest du das aktuelle Spiel beenden?
                    </div>
                    <div class="btn" evt:click="resetGame()">
                        Ja, Spiel beenden
                    </div>
                </f-if>

                <div class="col-flex">
                    <f-if check="gameState.validationError.length > 0">
                        <div class="validation-error hor-al">
                            {{gameState.validationError}}
                        </div>
                        <div class="break"></div>
                    </f-if>
    
                    <f-if check="page != 'home'">
                        <div class="btn" evt:click="pageSwitch('home')">
                            <f-if check="page.startsWith('transfer-success')">
                                Okay
                            </f-if>
                            <f-else>
                                Zurück
                            </f-else>
                        </div>
                    </f-if>
                </div>
            </f-if>
            <f-else>
                <f-if check="startPage.page == 'start'">
                    <div class="btn" evt:click="if (gameState.players.length >= 2) startSwitch('start-balance')" f:style="gameState.players.length >= 2 ? '' : 'background-color: #b98383; color: white'">
                        Starten
                    </div>
                    <div class="btn" evt:click="startSwitch('add-name')">
                        Spieler Hinzufügen
                    </div>
                    <f-if check="gameState.players.length > 0">
                        <div class="line"></div>
                    </f-if>
                    <f-for from="gameState.players" as="player">
                        <div class="list-name">
                            {{player.name}}
                        </div>
                        <div evt:click="popPlayer(player)" class="name-cross">❌</div>
                        <div class="break"></div>
                    </f-for>
                    <f-in in-id="f-toggle"></f-in>
                </f-if>
                <f-if check="startPage.page == 'add-name'">
                    <div>
                        Namen Eingeben
                    </div>
                    <div class="line"></div>
                    <form evt:submit="startName(); $event.preventDefault()">
                        <input class="name-enter" evt:f-add="this.focus()" autocomplete="off" data-lpignore="true" data-form-type="other" placeholder="Name">
                    </form>
                    <div class="break"></div>
                    <div class="btn" evt:click="startName()">
                        Weiter
                    </div>
                </f-if>
                <f-if check="startPage.page == 'add-nfc'">
                    <f-var name="nfcTitle" value="'Spielerkarte auflegen'"></f-var>
                    <div evt:nfc-okay="startNfc($event.detail)">
                        <f-in in-id="nfc-input"></f-in>
                    </div>
                </f-if>
                <f-if check="startPage.page == 'start-balance'">
                    <div>Startguthaben: </div>
                    <div class="break"></div>
                    <div evt:num-okay="startGame($event.detail)">
                        <f-in in-id="number-input"></f-in>
                    </div>
                </f-if>

                <div class="vert-break"></div>

                <f-if check="startPage.page != 'start'">
                    <div class="btn" evt:click="startSwitch('start')">
                        Abbrechen
                    </div>
                </f-if>

                <div class="break"></div>
                <f-if check="startPage.validationError.length > 0">
                    <div class="validation-error hor-al">
                        {{startPage.validationError}}
                    </div>
                </f-if>
            </f-else>
        </f-pl>
    </body>
</html>